<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sell Quick - Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    
    <div class="bg-white">

        <header class="relative bg-white">

            <nav aria-label="Top" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="border-b border-gray-200">
                    <div class="flex h-16 items-center">
                        <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
                        <button type="button" class="rounded-md bg-white p-2 text-gray-400 lg:hidden">
                            <span class="sr-only">Open menu</span>
                            <!-- Heroicon name: outline/bars-3 -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                            </svg>
                        </button>

                        <!-- Logo -->
                        <div class="ml-4 flex lg:ml-0">
                            <a href="{{url_for('home')}}">
                                <span class="sr-only">Sell Quick</span>
                                <img class="h-8 w-auto"
                                    src="{{url_for('logo')}}" alt="">
                            </a>
                        </div>


                        <div class="ml-auto flex items-center">
                            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
                                <a href="{{url_for('login')}}"
                                    class="text-sm font-medium text-gray-700 hover:text-gray-800">Sign in</a>
                                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                                <a href="{{url_for('register')}}"
                                    class="text-sm font-medium text-gray-700 hover:text-gray-800">Create account</a>
                            </div>

                            <div class="hidden lg:ml-8 lg:flex">
                                <a href="#" class="flex items-center text-gray-700 hover:text-gray-800">
                                    <span class="ml-3 block text-sm font-medium">USD</span>
                                    <span class="sr-only">, change currency</span>
                                </a>
                            </div>

                            <!-- Search -->

                            <!-- Cart -->
                            <div class="ml-4 flow-root lg:ml-6">
                                <a href="#" class="group -m-2 flex items-center p-2">
                                    <!-- Heroicon name: outline/shopping-bag -->
                                    <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg>
                                    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{
                                        product_count }}</span>
                                    <span class="sr-only">items in cart, view bag</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main class="mx-auto max-w-2xl px-4 pt-16 pb-24 sm:px-6 lg:max-w-7xl lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Shopping Cart</h1>

                <div id="totalPopup" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
                  <!-- Background backdrop, show/hide based on modal state. -->
                  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
                  
                  <div class="fixed inset-0 z-10 overflow-y-auto">
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
                      <!-- Modal panel, show/hide based on modal state. -->
                      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
                        <!-- Close button -->
                        <button type="button" class="absolute top-0 right-0 mt-4 mr-4 text-gray-400 hover:text-gray-500" onclick="reloadPage()">
                          <span class="sr-only">Close</span>
                          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                          </svg>
                        </button>
                        <!-- Modal content -->
                        <div>
                          <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-green-100">
                            <!-- Heroicon name: outline/check -->
                            <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                          </div>
                          <div class="mt-3 text-center sm:mt-5">
                            <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Payment successful</h3>
                            <div class="mt-2">
                              <p id="totalText" class="text-sm text-gray-500">Your total is </p>
                            </div>
                          </div>
                        </div>
                        <div class="mt-5 sm:mt-6">
                          <button href="{{url_for('products')}}" type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:text-sm">Go to Catalog</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            <form class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16">
                <section aria-labelledby="cart-heading" class="lg:col-span-7">
                    <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>

                    <ul role="list" class="divide-y divide-gray-200 border-t border-b border-gray-200">
                        {% for product, cart_id in products %}
                        <li class="flex py-6 sm:py-10">
                            <div class="flex-shrink-0">
                                <!-- Product image -->
                                <img src="{{ url_for('image', filename=product.image_path) }}"
                                    alt="{{ product.Description }}"
                                    class="h-24 w-24 rounded-md object-cover object-center sm:h-48 sm:w-48">
                            </div>

                            <div class="ml-4 flex flex-1 flex-col justify-between sm:ml-6">
                                <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                                    <div>
                                        <div class="flex justify-between">
                                            <h3 class="text-sm">
                                                <a href="{{ url_for('product', id=product.ID) }}"
                                                    class="font-medium text-gray-700 hover:text-gray-800">{{
                                                    product.name }}</a>
                                            </h3>
                                        </div>
                                        <div class="mt-1 flex text-sm">
                                            <p class="text-gray-500">{{ product.category }}</p>
                                        </div>
                                        <p class="mt-1 text-sm font-medium text-gray-900">${{ product.price }}</p>
                                    </div>

                                    <div class="mt-4 sm:mt-0 sm:pr-9">
                                        <div class="absolute top-0 right-0">
                                            <button type="button"
                                                class="-m-2 inline-flex p-2 text-gray-400 hover:text-gray-500"
                                                onclick="removeFromCart({{ cart_id }})">
                                                <span class="sr-only">Remove</span>
                                                <!-- Heroicon name: mini/x-mark -->
                                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                    <path
                                                        d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                                                </svg>
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </section>

                <!-- Order summary -->
                <section aria-labelledby="summary-heading"
                    class="mt-16 rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8">
                    <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>

                    <dl class="mt-6 space-y-4">
                        <div class="flex items-center justify-between">
                            <dt class="text-sm text-gray-600">Subtotal</dt>
                            <dd id="totalAmount" class="text-sm font-medium text-gray-900">${{ total_price }}</dd>
                        </div>
                        <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                            <dt class="flex items-center text-sm text-gray-600">
                                <span>Shipping estimate</span>
                            </dt>
                            <dd class="text-sm font-medium text-gray-900">${{ shipping }}</dd>
                        </div>
                        <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                            <dt class="flex text-sm text-gray-600">
                                <span>Tax estimate</span>
                            </dt>
                            <dd class="text-sm font-medium text-gray-900">${{ '%.2f' | format(tax) }}</dd>
                        </div>
                        <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                            <dt class="text-base font-medium text-gray-900">Order total</dt>
                            <dd class="text-base font-medium text-gray-900">${{ '%.2f' | format(total) }}</dd>
                        </div>
                    </dl>
                    <div class="flex items-center justify-between border-t border-gray-200 pt-4">
                        <div> Payment Type </div>
                        <select name="Payment Type" id="paymenttype">
                            <option value="paybycash">Pay By Cash</option>
                            <option value="paybycard">Pay By Card</option>
                        </select>
                    </div>
                    <div class="mt-6">
                        <button id="placeorder" type="button"
                            class="w-full rounded-md border border-transparent bg-indigo-600 py-3 px-4 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50"
                            onclick="order()">Place
                            Order</button>
                    </div>
                </section>
            </form>

        </main>


    </div>
    <footer aria-labelledby="footer-heading" class="bg-gray-900">
        <h2 id="footer-heading" class="sr-only">Footer</h2>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="border-t border-gray-800 py-10">
                <p class="text-sm text-gray-400">Copyright &copy; 2024 Sell Quick, Inc.</p>
            </div>
        </div>
    </footer>


    <script>
        function removeFromCart(productId) {
            console.log(productId);
            fetch('{{ url_for('removeFromCart')}}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: productId }),
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function order() {
            confirm("Are you sure you want to place the order?");
            var type = document.getElementById("paymenttype").value;
            console.log(type);
            if (type == "paybycard") {
                type = false;
            }
            else {
                type = true;
            }
            console.log(type);
            fetch('{{ url_for('order') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ cash: type }),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.total);
                document.getElementById('totalText').innerHTML = "Your total is $" + data.total;
                var modal = document.getElementById('totalPopup');
                modal.classList.remove('hidden');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function reloadPage() {
            location.reload();
        }

    </script>

</body>

</html>